# VERSION: 1.1
# Source: http://confluence.arthus.local/display/AR/Gitignore
 
# Operating System Files
*.DS_Store
Thumbs.db
 
# Build Files #
bin
target
build/
.gradle
 
# Eclipse Project Files #
.settings/**
.classpath
.project
*/.settings/**
*/.classpath
*/.project
*/.tern-project
 
# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea
 
# Netbeans files #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
 
# Maven #
**/target/**
 
# Sonar #
.sonar/